body {
    background-image: url("../images/email-pattern.png");
    background-repeat: repeat;
}

.content {
    width: 100%;
    padding: 10px 25px;
    margin-top: 25px;
    /*background-color: #F1F1F1;*/
}

/*Setting page start*/

.carte {
    border-radius: 3px;
    border: 1px solid #cacaca;
    background-color: #FFFFFF;
    padding: 5px 15px;
    margin-top: 25px;
}

#how_it_works {

}

#form_user_contact {
}


/*Setting page end*/

.row_sms_email {
    margin-bottom: 0px !important;
}

.btn-sms-email {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.row_sms_email .col {
    padding: 0;
}

.collapse_title {
    font-size: smaller;
}

.collapse-body .btn-small {
    margin-bottom: 5px;
}

.center-align-row {
    text-align: center;
    margin: auto;
}

.txt_user {
    color: white;
}

.logout-icon {
    vertical-align: middle;
}

.star-navbar {
    vertical-align: middle;
}

.logo-navbar {
    margin-left: 20px;
    width: 250px;
    vertical-align: middle;
    line-height: 54px !important;
    padding-bottom: 10px;
}

.bars {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

textarea.materialize-textarea{
    height: 12rem !important;
}

.td-strong{
    font-weight: bold;
}

.star-normal{
    width: 100px;
}

.p-justifie{
    text-align: justify;
}

#homepage-title{
    font-size: 3em;
}

#homepage-title{
    padding-top: 12px;
}

.homepage-btn{
    margin-bottom: 25px;
}

.hp-img{
    width: 500px;
    margin-left: 60px;
}