{% extends "main/master.html" %}
{% block meta_info %}

    <title>Accueil</title>
    <meta name="description"
          content="Ne loupez plus jamais une bonne affaire sur une site de seconde main en étant averti tout de suite de la publication d'une nouvelle annonce">
{% endblock %}

{% block content %}
    {% load i18n %}
    {% load static %}
    <div class="content">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center-align "><h2>{% trans "TrackAnnonces" %}</h2></span>
                    <div class="row">
                        <h5 class="col s12 m6 p-justifie">{% blocktrans %}Ne manquez plus jamais les bonnes affaires des sites de
                            seconde
                            main en étant
                            prévenu dès qu'une nouvelle annonce est publiée !{% endblocktrans %}</h5>
                        <h5 class="col s12 m6 p-justifie" class="center-align">{% blocktrans %}Créez des recherches automatiques qui vous préviendront
                            dés qu'un nouveau résultat apparaitrât. Soyez le premier sur les bonnes
                            affaires!{% endblocktrans %}</h5>
                    </div>
                        <div class="center-align">
                            <br>
                            <a href="{% url "faq" %}" class="waves-effect waves-light btn">En savoir plus</a>
                            <a href="{% url "register" %}" class="waves-effect waves-light btn">S'enregistrer</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}