{% extends "main/master.html" %}

{% block meta_info %}

{% load i18n %}
{% trans "Mobile App Key" as the_title %}
{% trans "Clé pour l'application mobile." as the_desc %}
<title>{{ the_title }}</title>
<meta name="description" content="{{ the_desc }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% endblock %}

{% block content %}
{% load i18n %}
<div class="content">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{% trans "Clé de l'application mobile" %}</span>
                    <p>{% trans "Générez une clé ici et utilisez-là dans l'application pour avoir accès a vos alertes sur votre téléphones" %}</p>
                    <br>
                    <p>{{ key_api }}</p>
                    <br>
                     <button type="submit" onclick="location.href='{% url 'generate_key' %}'" class="btn">{% trans  "Générer une clé" %}</button>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
