{% load static %}
{% load i18n %}
<ul class="sidenav" id="mobile-demo">
    {% if not user.tlg_bot and  user.is_authenticated %}
                <li id="" class=""><a href="https://t.me/trackannonces_bot">In Telegram : {{ user.email }} {{ user.tlg_code }}</a></li>
    {% endif %}
    {% if user.is_authenticated %}
        <li><a href="{% url "dashboard" %}">Dashboard</a></li>
        <li><a href="{% url "tracking" %}">Tracking</a></li>
        <li><a href="{% url "user_info" %}" data-target="dropdown1">{{ user.username }}</a>
        </li>
        <li><a href="{% url "contact" %}">Contact</a></li>
        <li><a href="{% url "logout" %}">Logout</a></li>
    {% else %}
        <li><a href="../register">Register</a></li>
        <li><a href="../login">Login</a></li>
        <li><a href="{% url "contact" %}">Contact</a></li>
    {% endif %}
</ul>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% for lang in LANGUAGES %}
        <li>
            <a class="a-flag" data-url="{% url 'set_language' %}" data-value="{{ lang.0 }}"
               data-redirect="{{ redirect_to }}">
                {% if lang.0 == "fr" %}
                    <img src="{% static "images/icons/france.png" %}"> {{ lang.1 }}
                {% elif lang.0 == "nl" %}
                    <img src="{% static "images/icons/netherlands.png" %}">{{ lang.1 }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
<nav class="blue-grey darken-1">
    <div class="nav-wrapper">


        <a href="{% url "homepage" %}" class="brand-logo"><img class="logo-navbar"
                                                               src="{% static 'images/little_logo_transparent.png' %}"/></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger valign-wrapper">
            <div>
                <div class="bars"></div>
                <div class="bars"></div>
                <div class="bars"></div>
            </div>

        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if not user.tlg_bot and  user.is_authenticated %}
                <li id="" class=""><a href="https://t.me/trackannonces_bot">In Telegram : {{ user.email }} {{ user.tlg_code }}</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url "dashboard" %}">Dashboard</a></li>
                <li><a href="{% url "tracking" %}">Tracking</a></li>
                <li class="valign-wrapper"><a href="{% url "user_info" %}">{{ user.username }}
                    {% if user.user_contact.super_premium_user %}
                        <img class="star-navbar" src="{% static 'images/icons/goldstar.png' %}"/>
                    {% elif user.user_contact.premium_user %}
                        <img class="star-navbar" src="{% static 'images/icons/starplatinum.png' %}"/>
                    {% elif user.user_contact.normal_user %}
                    {% endif %}
                </a>
                </li>
                <li> |</li>
                <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
                <li><a href="../register">Register</a></li>
                <li><a href="../login">Login</a></li>
            {% endif %}
            <li><a href="{% url "contact" %}">Contact</a></li>
            <li><a href="{% url "faq" %}">FAQ</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><img class="star-navbar"
                                                                                   src="{% static "images/icons/translation.png" %}"></a>
            </li>
        </ul>
    </div>
</nav>
