{% extends "main/master.html" %}
{% block meta_info %}
    <title>Password Change</title>
        <meta name="description" content="Password change">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% endblock %}
{% block content %}
        {% load i18n %}
    <div class="content">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{% trans "Mot de  passe oublié ?" %}</span>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}